#
# SPDX-FileCopyrightText: Copyright 2024 Arm Limited and/or its affiliates <open-source-office@arm.com>
#
# SPDX-License-Identifier: Apache-2.0
#

stages:
  - build
  - test
  - analyze
  - deploy

default:
  image: registry.gitlab.arm.com/kleidi/kleidiai/image:latest
  tags:
    - arm64
  interruptible: true

.standard-rules:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

workflow:
  auto_cancel:
    on_new_commit: interruptible

build-clang:
  extends:
    - .standard-rules
  stage: build
  script:
    - cmake -G Ninja -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_BUILD_TYPE=Release -DKLEIDIAI_BUILD_TESTS=ON -S . -B ${CI_JOB_NAME_SLUG}
    - cmake --build ${CI_JOB_NAME_SLUG} -j$(nproc)
  artifacts:
    expire_in: 1 day
    paths:
      - ${CI_JOB_NAME_SLUG}/kleidiai_test

build-clang-cov:
  extends:
    - .standard-rules
  stage: build
  script:
    - cmake -G Ninja -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_BUILD_TYPE=Release -DKLEIDIAI_BUILD_TESTS=ON -DCMAKE_C_FLAGS="--coverage" -DCMAKE_CXX_FLAGS="--coverage" -S . -B build
    - cmake --build ./build -j$(nproc)
    # save coverage build job path for later use since coverage processing requires files in exactly same location
    - echo "COVERAGE_PROJECT_PATH=${PWD}" > build/coverage_path.env
  artifacts:
    expire_in: 1 day
    paths:
      - build
    reports:
      dotenv: build/coverage_path.env

build-clang-sanitizer:
  extends:
    - .standard-rules
  stage: build
  script:
    - cmake -G Ninja -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_BUILD_TYPE=Release -DKLEIDIAI_BUILD_TESTS=ON -DCMAKE_C_FLAGS="-fsanitize=address" -DCMAKE_CXX_FLAGS="-fsanitize=address" -S . -B ${CI_JOB_NAME_SLUG}
    - cmake --build ${CI_JOB_NAME_SLUG} -j$(nproc)
  artifacts:
    expire_in: 1 day
    paths:
      - ${CI_JOB_NAME_SLUG}/kleidiai_test

build-gcc:
  extends:
    - .standard-rules
  stage: build
  script:
    - cmake -G Ninja -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DCMAKE_BUILD_TYPE=Release -DKLEIDIAI_BUILD_TESTS=ON -S . -B ${CI_JOB_NAME_SLUG}
    - cmake --build ${CI_JOB_NAME_SLUG} -j$(nproc)
  artifacts:
    expire_in: 1 day
    paths:
      - ${CI_JOB_NAME_SLUG}/kleidiai_test

build-gcc-bazel:
  extends:
    - .standard-rules
  stage: build
  cache:
    - key: cache-bazelisk
      paths:
      - /cache/bazelisk
  script:
    - bazelisk clean --expunge
    - bazelisk build --jobs=HOST_CPUS -k --verbose_failures --curses=no //...
    - mkdir -p ${CI_JOB_NAME_SLUG} && cp bazel-bin/test/kleidiai_test ${CI_JOB_NAME_SLUG}/
  artifacts:
    expire_in: 1 day
    paths:
      - ${CI_JOB_NAME_SLUG}/kleidiai_test

build-clang-bazel:
  extends:
    - .standard-rules
  stage: build
  cache:
    - key: cache-bazelisk
      paths:
      - /cache/bazelisk
  script:
    - bazelisk clean --expunge
    # explicitly disable layering_check feature
    - CC=clang bazelisk build --jobs=HOST_CPUS -k --verbose_failures --compiler=clang --features=no-layering_check --curses=no //...
    - mkdir -p ${CI_JOB_NAME_SLUG} && cp bazel-bin/test/kleidiai_test ${CI_JOB_NAME_SLUG}/
  artifacts:
    expire_in: 1 day
    paths:
      - ${CI_JOB_NAME_SLUG}/kleidiai_test

build-examples:
  stage: build
  extends:
    - .standard-rules
  parallel:
    matrix:
      - EXAMPLE:
          - matmul_clamp_f16_f16_f16p
          - matmul_clamp_f32_qai8dxp_qsi4cxp
          - matmul_clamp_f32_qsi8d32p_qsi4c32p
  script:
    - mkdir -p build/$EXAMPLE
    - cmake -G Ninja -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_BUILD_TYPE=Release -S examples/$EXAMPLE -B build/$EXAMPLE
    - cmake --build build/$EXAMPLE -j$(nproc)
  artifacts:
    expire_in: 1 day
    paths:
      - build/$EXAMPLE/$EXAMPLE

test-examples:
  stage: test
  extends:
    - .standard-rules
  needs:
  - build-examples
  parallel:
    matrix:
      - EXAMPLE:
          - matmul_clamp_f16_f16_f16p
          - matmul_clamp_f32_qai8dxp_qsi4cxp
          - matmul_clamp_f32_qsi8d32p_qsi4c32p
  script:
    - build/${EXAMPLE}/${EXAMPLE} | tee -a ${EXAMPLE}.log
  artifacts:
    expire_in: 1 day
    paths:
      - ${EXAMPLE}.log

clang-tidy-checks:
  extends:
    - .standard-rules
  stage: build
  script:
    - cmake -G Ninja -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_BUILD_TYPE=Release -DKLEIDIAI_BUILD_TESTS=ON -DKLEIDIAI_ENABLE_CLANG_TIDY=ON -S . -B ${CI_JOB_NAME_SLUG}
    - cmake --build ${CI_JOB_NAME_SLUG}

pre-commit-hooks:
  variables:
    PRE_COMMIT_HOME: '/cache/pre-commit'
  extends:
    - .standard-rules
  stage: build
  cache:
    - key: cache-pre-commit
      paths:
      - $PRE_COMMIT_HOME
  script:
    - PRE_COMMIT_HOME=$PRE_COMMIT_HOME pre-commit run --all-files

test-remote:
  # Part of the pipeline is executed in a separate system.
  #
  # When the remote pipeline has been completed, this job is manually triggered
  # with the information about the remote pipeline including whether it's passed or failed.
  # Run the job only for a public pipeline
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_SERVER_HOST == 'gitlab.arm.com'
  stage: test
  needs: []
  when: manual
  allow_failure: false
  variables:
    REMOTE_PIPELINE_ID: 0
    REMOTE_PIPELINE_PASSED: ""
    REMOTE_PIPELINE_MESSAGE: ""
  script:
    - echo "REMOTE_PIPELINE_ID=${REMOTE_PIPELINE_ID}" |& tee remote_result.txt
    - echo "REMOTE_PIPELINE_PASSED=${REMOTE_PIPELINE_PASSED}" |& tee -a remote_result.txt
    - echo "REMOTE_PIPELINE_MESSAGE=${REMOTE_PIPELINE_MESSAGE}" |& tee -a remote_result.txt
    - echo "${REMOTE_PIPELINE_PASSED}" | grep -q "true"
  artifacts:
    when: always
    expire_in: 1 day
    paths:
      - remote_result.txt

test-linux-aarch64:
  extends:
    - .standard-rules
  stage: test
  parallel:
    matrix:
      - BUILD_JOB_PROVIDER: [ clang, gcc, clang-bazel, gcc-bazel, clang-sanitizer ]
  needs:
    - build-gcc
    - build-gcc-bazel
    - build-clang
    - build-clang-bazel
    - build-clang-sanitizer
  script:
    - ./build-${BUILD_JOB_PROVIDER}/kleidiai_test --gtest_output=xml:kleidiai_test_results-${BUILD_JOB_PROVIDER}.xml
  artifacts:
    when: always
    expire_in: 1 day
    paths:
      - kleidiai_test_results-${BUILD_JOB_PROVIDER}.xml
    reports:
      junit: kleidiai_test_results-${BUILD_JOB_PROVIDER}.xml

# This job template is used to mimic same location of source files used to build binary with coverage.
# It is required because coverage post-processing tooling used expects source files to be in exactly
# same location as during build. But it's not always possible in case of CI runner change or version
# update.
.coverage-post-processing:
  before_script:
    - >
      if [ "${CI_PROJECT_DIR}" != "${COVERAGE_PROJECT_PATH}" ]; then
        echo "Workaround for build location active"
        echo "Cleanup old artifacts"
        rm -rf ${COVERAGE_PROJECT_PATH}
        echo "Copy current job files into path used to build coverage binary"
        mkdir -vp ${COVERAGE_PROJECT_PATH}
        cp -a -t ${COVERAGE_PROJECT_PATH}/ *
      fi
    - |
      echo -e "
      root=${COVERAGE_PROJECT_PATH}
      exclude=${COVERAGE_PROJECT_PATH}/build
      exclude=${COVERAGE_PROJECT_PATH}/test
      gcov-executable=llvm-cov gcov
      exclude-unreachable-branches=yes
      exclude-lines-by-pattern=.*KAI_(?:ASSERT|ASSUME|ERROR).*
      exclude-branches-by-pattern=.*KAI_(?:ASSERT|ASSUME).*" > gcovr.cfg
  after_script:
    - >
      if [ "${CI_PROJECT_DIR}" != "${COVERAGE_PROJECT_PATH}" ]; then
        echo "Cleanup workaround for build location"
        rm -rf ${COVERAGE_PROJECT_PATH}
        rm -f gcovr.cfg
      fi

test-linux-aarch64-cov:
  extends:
    - .standard-rules
    - .coverage-post-processing
  stage: test
  needs:
    - build-clang-cov
  script:
    - ./build/kleidiai_test --gtest_output=xml:kleidiai_test_results.xml
    - mkdir -p build/coverage
    - gcovr --json=build/coverage/linux-aarch64.json -j --config gcovr.cfg
  artifacts:
    expire_in: 1 day
    paths:
      - kleidiai_test_results.xml
      - build/coverage/linux-aarch64.json
      - build/coverage_path.env
    reports:
      junit: kleidiai_test_results.xml
      # Reexport coverage information for final 'coverage' job
      dotenv: build/coverage_path.env

test-linux-aarch64-cov-fvp:
  extends:
    - .standard-rules
    - .coverage-post-processing
  stage: test
  needs:
    - build-clang-cov
  script:
    - tar xJf /opt/devtools/linux-rootfs.img.xz
    - echo '#!/bin/bash' > startup
    - >
      echo "
        echo '=================================================='
        echo '== START                                        =='
        echo '=================================================='

        cd '$PWD'
        mkdir -p artifacts/$CI_PROJECT_DIR
        GCOV_PREFIX=artifacts ./build/kleidiai_test --gtest_output=xml:artifacts/$CI_PROJECT_DIR/kleidiai_test_results.xml && echo 'FINISHED WITHOUT ERROR'
        tar cf artifacts.tar -C artifacts .
        sync

        echo '=================================================='
        echo '== END                                          =='
        echo '=================================================='
        " >> startup
    - e2cp -O 0 -G 0 -P 755 startup linux-rootfs.img:/root/startup
    - e2cp -a -O 0 -G 0 -P 755 build/kleidiai_test linux-rootfs.img:"$PWD/build/kleidiai_test"
    - >
      /opt/devtools/fvp_base_aemva/models/Linux64_armv8l_GCC-9.3/FVP_Base_RevC-2xAEMvA \
        -C cache_state_modelled=0 \
        -C bp.refcounter.non_arch_start_at_default=1 \
        -C bp.secure_memory=0 \
        -C bp.pl011_uart0.out_file=- \
        -C bp.pl011_uart0.shutdown_tag="System halted" \
        -C bp.terminal_0.mode=telnet \
        -C bp.terminal_0.start_telnet=0 \
        -C bp.terminal_1.mode=raw \
        -C bp.terminal_1.start_telnet=0 \
        -C bp.terminal_2.mode=raw \
        -C bp.terminal_2.start_telnet=0 \
        -C bp.terminal_3.mode=raw \
        -C bp.terminal_3.start_telnet=0 \
        -C cluster0.NUM_CORES=1 \
        -C cluster0.has_arm_v8-1=1 \
        -C cluster0.has_arm_v8-2=1 \
        -C cluster0.has_arm_v8-3=1 \
        -C cluster0.has_arm_v8-4=1 \
        -C cluster0.has_arm_v8-5=1 \
        -C cluster0.has_arm_v8-6=1 \
        -C cluster0.has_arm_v8-7=1 \
        -C cluster0.has_arm_v8-8=1 \
        -C cluster0.has_arm_v9-0=1 \
        -C cluster0.has_arm_v9-1=1 \
        -C cluster0.has_arm_v9-2=1 \
        -C cluster0.has_arm_v9-3=1 \
        -C cluster0.has_arm_v9-4=1 \
        -C cluster0.has_arm_v9-5=1 \
        -C cluster0.has_sve=1 \
        -C cluster0.sve.has_b16b16=1 \
        -C cluster0.sve.has_sve2=1 \
        -C cluster0.sve.has_sme=1 \
        -C cluster0.sve.has_sme2=1 \
        -C cluster0.sve.has_sme_f16f16=1 \
        -C cluster0.sve.has_sme_fa64=1 \
        -C cluster0.sve.has_sme_lutv2=1 \
        -C cluster0.sve.sme2_version=1 \
        -C cluster0.sve.veclen=2 \
        -C cluster0.sve.sme_veclens_implemented=4 \
        -C bp.virtio_rng.enabled=1 \
        -C bp.virtioblockdevice.image_path=linux-rootfs.img \
        -C bp.vis.disable_visualisation=1 \
        -a cluster*.cpu*=/opt/devtools/linux-system.axf \
        |& tee output.txt
    - grep -q "FINISHED WITHOUT ERROR" output.txt
    - e2cp linux-rootfs.img:"$PWD/artifacts.tar" .
    - tar xf artifacts.tar -C /
    - mkdir -p build/coverage
    - gcovr --json=build/coverage/linux-aarch64-fvp.json -j --config gcovr.cfg
  artifacts:
    expire_in: 1 day
    paths:
      - build/coverage/linux-aarch64-fvp.json
      - kleidiai_test_results.xml
    reports:
      junit: kleidiai_test_results.xml

coverage:
  extends:
    - .standard-rules
    - .coverage-post-processing
  stage: analyze
  needs:
    - test-linux-aarch64-cov
    - test-linux-aarch64-cov-fvp
  script:
    - mkdir -p build/html/coverage
    - gcovr --json-add-tracefile "build/coverage/*.json" --print-summary --cobertura=build/coverage.xml --html-details=build/html/coverage/coverage_report.html --html-title="KleidiAI Coverage Report" -j
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHA}
    expire_in: 1 day
    reports:
      coverage_report:
        coverage_format: cobertura
        path: build/coverage.xml
    paths:
      - build/coverage.xml
      - build/html/coverage

pages:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  stage: deploy
  needs:
    - coverage
  script:
    - pwd > /dev/null
  artifacts:
    paths:
      - build/html
  publish: build/html
