#
# SPDX-FileCopyrightText: Copyright 2024 Arm Limited and/or its affiliates <open-source-office@arm.com>
#
# SPDX-License-Identifier: Apache-2.0
#

stages:
  - build
  - test
  - analyze
  - deploy

default:
  image: registry.gitlab.arm.com/kleidi/kleidiai/image:latest
  tags:
    - arm64
  interruptible: true

.standard-rules:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

workflow:
  auto_cancel:
    on_new_commit: interruptible

build-clang:
  extends:
    - .standard-rules
  stage: build
  script:
    - cmake -G Ninja -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_BUILD_TYPE=Release -DKLEIDIAI_BUILD_TESTS=ON -S . -B build/
    - cmake --build ./build
  artifacts:
    expire_in: 1 day
    paths:
      - build/kleidiai_test

build-clang-cov:
  extends:
    - .standard-rules
  stage: build
  script:
    - cmake -G Ninja -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_BUILD_TYPE=Release -DKLEIDIAI_BUILD_TESTS=ON -DCMAKE_C_FLAGS="--coverage" -DCMAKE_CXX_FLAGS="--coverage" -S . -B build
    - cmake --build ./build
  artifacts:
    expire_in: 1 day
    paths:
      - build

build-gcc:
  extends:
    - .standard-rules
  stage: build
  script:
    - cmake -G Ninja -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DCMAKE_BUILD_TYPE=Release -DKLEIDIAI_BUILD_TESTS=ON -S . -B build/
    - cmake --build ./build
  artifacts:
    expire_in: 1 day
    paths:
      - build/kleidiai_test

clang-tidy-checks:
  extends:
    - .standard-rules
  stage: build
  script:
    - cmake -G Ninja -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_BUILD_TYPE=Release -DKLEIDIAI_BUILD_TESTS=ON -DKLEIDIAI_ENABLE_CLANG_TIDY=ON -S . -B build/
    - cmake --build ./build

pre-commit-hooks:
  variables:
    PRE_COMMIT_HOME: '/cache/pre-commit'
  extends:
    - .standard-rules
  stage: build
  cache:
    - key: cache-pre-commit
      paths:
      - $PRE_COMMIT_HOME
  script:
    - pre-commit run --all-files

test-linux-aarch64:
  extends:
    - .standard-rules
  stage: test
  needs:
    - build-clang
  script:
    - ./build/kleidiai_test --gtest_filter=*:-*sme* --gtest_output=xml:kleidiai_test_results.xml
  artifacts:
    when: always
    expire_in: 1 day
    paths:
      - kleidiai_test_results.xml
    reports:
      junit: kleidiai_test_results.xml

test-linux-aarch64-cov:
  extends:
    - .standard-rules
  stage: test
  needs:
    - build-clang-cov
  script:
    - ./build/kleidiai_test --gtest_filter=*:-*sme* --gtest_output=xml:kleidiai_test_results.xml
    - mkdir -p build/coverage
    - gcovr --gcov-executable="llvm-cov gcov" --exclude-unreachable-branches --exclude=build --exclude=test --exclude-lines-by-pattern=".*KAI_(?:ASSERT|ASSUME|ERROR).*" --exclude-branches-by-pattern=".*KAI_(?:ASSERT|ASSUME).*" --json=build/coverage/linux-aarch64.json -j --root . build
  artifacts:
    expire_in: 1 day
    paths:
      - build/coverage/linux-aarch64.json
      - kleidiai_test_results.xml
    reports:
      junit: kleidiai_test_results.xml

test-linux-aarch64-cov-fvp:
  extends:
    - .standard-rules
  stage: test
  needs:
    - build-clang-cov
  script:
    - tar xJf /opt/devtools/linux-rootfs.img.xz
    - echo '#!/bin/bash' > startup
    - >
      echo "
        echo '=================================================='
        echo '== START                                        =='
        echo '=================================================='

        cd '$PWD'
        mkdir -p artifacts/$CI_PROJECT_DIR
        GCOV_PREFIX=artifacts ./build/kleidiai_test --gtest_filter=*sme*  --gtest_output=xml:artifacts/$CI_PROJECT_DIR/kleidiai_test_results.xml && echo 'FINISHED WITHOUT ERROR'
        tar cvf artifacts.tar -C artifacts .
        sync

        echo '=================================================='
        echo '== END                                          =='
        echo '=================================================='
        " >> startup
    - e2cp -O 0 -G 0 -P 755 startup linux-rootfs.img:/root/startup
    - e2cp -a -O 0 -G 0 -P 755 build/kleidiai_test linux-rootfs.img:"$PWD/build/kleidiai_test"
    - >
      /opt/devtools/fvp_base_aemva/models/Linux64_armv8l_GCC-9.3/FVP_Base_RevC-2xAEMvA \
        -C cache_state_modelled=0 \
        -C bp.refcounter.non_arch_start_at_default=1 \
        -C bp.secure_memory=0 \
        -C bp.pl011_uart0.out_file=- \
        -C bp.pl011_uart0.shutdown_tag="System halted" \
        -C bp.terminal_0.mode=telnet \
        -C bp.terminal_0.start_telnet=0 \
        -C bp.terminal_1.mode=raw \
        -C bp.terminal_1.start_telnet=0 \
        -C bp.terminal_2.mode=raw \
        -C bp.terminal_2.start_telnet=0 \
        -C bp.terminal_3.mode=raw \
        -C bp.terminal_3.start_telnet=0 \
        -C cluster0.NUM_CORES=1 \
        -C cluster0.has_arm_v8-1=1 \
        -C cluster0.has_arm_v8-2=1 \
        -C cluster0.has_arm_v8-3=1 \
        -C cluster0.has_arm_v8-4=1 \
        -C cluster0.has_arm_v8-5=1 \
        -C cluster0.has_arm_v8-6=1 \
        -C cluster0.has_arm_v8-7=1 \
        -C cluster0.has_arm_v8-8=1 \
        -C cluster0.has_arm_v9-0=1 \
        -C cluster0.has_arm_v9-1=1 \
        -C cluster0.has_arm_v9-2=1 \
        -C cluster0.has_arm_v9-3=1 \
        -C cluster0.has_arm_v9-4=1 \
        -C cluster0.has_arm_v9-5=1 \
        -C cluster0.has_sve=1 \
        -C cluster0.sve.has_b16b16=1 \
        -C cluster0.sve.has_sve2=1 \
        -C cluster0.sve.has_sme=1 \
        -C cluster0.sve.has_sme2=1 \
        -C cluster0.sve.has_sme_f16f16=1 \
        -C cluster0.sve.has_sme_fa64=1 \
        -C cluster0.sve.has_sme_lutv2=1 \
        -C cluster0.sve.sme2_version=1 \
        -C cluster0.sve.veclen=2 \
        -C cluster0.sve.sme_veclens_implemented=4 \
        -C bp.virtio_rng.enabled=1 \
        -C bp.virtioblockdevice.image_path=linux-rootfs.img \
        -C bp.vis.disable_visualisation=1 \
        -a cluster*.cpu*=/opt/devtools/linux-system.axf \
        |& tee output.txt
    - grep -q "FINISHED WITHOUT ERROR" output.txt
    - e2cp linux-rootfs.img:"$PWD/artifacts.tar" .
    - tar xvf artifacts.tar -C /
    - mkdir -p build/coverage
    - gcovr --gcov-executable="llvm-cov gcov" --exclude-unreachable-branches --exclude=build --exclude=test --exclude-lines-by-pattern=".*KAI_(?:ASSERT|ASSUME|ERROR).*" --exclude-branches-by-pattern=".*KAI_(?:ASSERT|ASSUME).*" --json=build/coverage/linux-aarch64-fvp.json -j --root . build
  artifacts:
    expire_in: 1 day
    paths:
      - build/coverage/linux-aarch64-fvp.json
      - kleidiai_test_results.xml
    reports:
      junit: kleidiai_test_results.xml

coverage:
  extends:
    - .standard-rules
  stage: analyze
  needs:
    - test-linux-aarch64-cov
    - test-linux-aarch64-cov-fvp
  script:
    - mkdir -p build/html/coverage
    - gcovr --json-add-tracefile "build/coverage/*.json" --print-summary --cobertura=build/coverage.xml --html-details=build/html/coverage/coverage_report.html --html-title="KleidiAI Coverage Report" -j
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHA}
    expire_in: 1 day
    reports:
      coverage_report:
        coverage_format: cobertura
        path: build/coverage.xml
    paths:
      - build/html/coverage

pages:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  stage: deploy
  needs:
    - coverage
  script:
    - pwd > /dev/null
  artifacts:
    paths:
      - build/html
  publish: build/html
